---
import PerspectiveGradient from "../../../components/typography/PerspectiveGradient.astro";
---

<h1 class="headline">
  <span class="blazing-container">
    <span class="normal pull-left">Get a</span>
    <PerspectiveGradient>BLAZING</PerspectiveGradient>
    <PerspectiveGradient>FAST</PerspectiveGradient>
  </span>
  <span class="website-container">
    <span class="normal">Website</span>
    <span class="normal smaller">(That Sells)</span>
  </span>
  <PerspectiveGradient isSmall={true}>IN 7 DAYS</PerspectiveGradient>
</h1>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .headline {
    @include baseColGrid;
    gap: 20px;
    justify-items: end;
    width: max-content;
  }

  .blazing-container {
    @include baseColGrid;
    gap: 0px;
    justify-items: end;
  }

  .website-container {
    padding-right: 40px;
    @include baseColGrid;
    gap: 12px;
    justify-items: end;
  }

  .normal {
    font-size: 3rem;
    font-weight: 800;
    color: var(--font-color-light);

    @include aboveTablet {
      font-size: 3.6rem;
    }
  }

  .smaller {
    font-size: 2rem;
  }

  .pull-left {
    justify-self: start;
    transform: translateX(20px);
  }

  .extra-padding {
    padding: 20px 0 12px 0;
  }
</style>
