---
import ContentSection from "./ContentSection.astro";
import CardsContainer from "./CardsContainer.astro";
---

<div class="container">
  <div class="content-container">
    <ContentSection />
    <CardsContainer />
  </div>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    padding: 80px 12px;
    display: flex;
    justify-content: center;
    background-color: #28234E;
    width: 100%;
  }

  .content-container {
    @include baseColGrid;
    gap: 200px;
    justify-items: center;
    width: 100%;
  }
</style>