---
interface Props {
  headline: string
}

const { headline } = Astro.props
---

<div class="container">
  <h1>{headline}</h1>
  <div class="header-image">
    <slot />
  </div>
  <div class="galaxy-pink"></div>
  <div class="galaxy-purple"></div>
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
    width: 100%;
    height: 200px;
    box-shadow: 0 4px 18px 1px hsla(0, 0%, 0%, 0.4);
    overflow: hidden;
    isolation: isolate;
    z-index: 1;

    @include aboveTablet {
      height: 260px;
    }
  }

  h1 {
    font-size: 4rem;
    color: hsla(219, 34%, 15%, 1);
  }

  .header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 240px;
    transform: translate(-50%, -50%);

    @include aboveIphone11 {
      width: 280px;
    }

    @include aboveMobile {
      width: 320px;
    }

    @include aboveTablet {
      width: 380px;
    }
  }

  .galaxy-pink {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--accent-pink);
    border-radius: 50%;
    width: 180px;
    height: 180px;
    filter: blur(200px);
    transform: translate(-200px, 0);
    z-index: 1;

    @include aboveMobile {
      transform: translate(-140px, -40%);
    }

    @include aboveIpadPro {
      transform: translate(0, 80px);
    }
  }

  .galaxy-purple {
    @include aboveMobile {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: var(--accent-purple);
      border-radius: 50%;
      width: 180px;
      height: 180px;
      filter: blur(200px);
      transform: translate(200px, 0);
      z-index: 1;
    }

    @include aboveIpadPro {
      transform: translate(0, 80px);
    }
  }
</style>