---

---

<div class="container">
  <div class="second-row-container">
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
    <div class="medium-box"></div>
  </div>
  <div class="base-box-container">
    <div class="base-box-large"></div>
    <div class="base-box-large"></div>
    <div class="base-box-large base-box-large-dent"></div>
    <div class="base-box-large"></div>
    <div class="base-box-large base-box-large-dent"></div>
    <div class="base-box-large"></div>
    <div class="base-box-large"></div>
    <div class="base-box-large base-box-large-dent"></div>
    <div class="base-box-large"></div>
    <div class="base-box-large base-box-large-dent"></div>
  </div>
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .base-box-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .base-box-large {
    background-color: var(--footer-background);
    width: 40px;
    height: 40px;
    opacity: 0.7;
  }

  .base-box-large-dent {
    height: 30px;
  }

  .second-row-container {
    display: grid;
    justify-items: center;
    width: 100%;
  }

  .medium-box {
    background-color: var(--footer-background);
    width: 30px;
    height: 30px;
    opacity: 0.7;
  }
</style>