---
import FooterLinkItem from "../../components/buttons/FooterLinkItem.astro";
import type { FooterLink } from '../../types/components'

interface Props {
  links: FooterLink[]
}

const { links } = Astro.props
---

<nav>
  <ul>
    {links.map(link => {
      const {type, label, slug } = link

      return (
        <FooterLinkItem linkType={type} slug={slug}>{label}</FooterLinkItem>
      )
    })}
  </ul>
</nav>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  ul {
    @include baseColGrid;
    column-gap: 60px;
    row-gap: 30px;
    width: max-content;
  }
</style>