---
import BaseLayout from '../../layouts/Layout.astro'
import CopyAndContent from '../../sections/copyAndContent/index.astro'

import { ToggleInput } from '../../components/solid/forms/inputs/ToggleInput'

const data = await Astro.glob("../../data/copy-services/*.mdx")

const copyServiceData = data.map(d => {
  const { id, slug, imageUrl, altTag, titleTag, headline, description, buttonLabel, buttonTitle } = d.frontmatter

  return {
    id: id,
    slug: slug,
    imageUrl: imageUrl,
    altTag: altTag,
    titleTag: titleTag,
    headline: headline,
    description: description,
    buttonLabel: buttonLabel,
    buttonTitle: buttonTitle,
  }
}).sort((a, b) => {
  if (a.id < b.id) {
    return -1
  } else {
    return 1
  }
})

---

<BaseLayout title="Copywriting and Content for Your Business">
  <div style="padding-top: 80px; width: 100%; height: 80px;"></div>
  <ToggleInput 
    client:load
    theme="purple"
    name="testToggle"
    title="testToggle"
    leftLabel="Is Off"
    rightLabel="Is On"
    toggleWidth={351}
  />
  <CopyAndContent data={copyServiceData} />
</BaseLayout>