---
import BaseLayout from "../../layouts/Layout.astro";
import Header from "../../sections/sevenDaySite/Header/index.astro";
import LeadSection from "../../sections/sevenDaySite/LeadSection/index.astro";
import IsForYouSection from "../../sections/sevenDaySite/IsForYouSection/index.astro";
import HowToUseSection from "../../sections/sevenDaySite/HowToUseSection/index.astro";
import WhatYouGetSection from "../../sections/sevenDaySite/WhatYouGetSection/index.astro";
import HideNerdyStuffSection from "../../sections/sevenDaySite/HideNerdyStuffSection/index.astro";
import SevenDaySiteForm from "../../sections/callToActionSections/SevenDaySiteForm/index.astro";
import Footer from "../../sections/Footer/index.astro";
---

<BaseLayout
  title="Nerds 7 Day Site"
  description="Getting online or focusing on one product or service is key. A 7 Day Site will get you a blazing fast website that sells so you can get going!"
  socialTitle="Nerds 7 Day Site"
  socialDescription="Getting online or focusing on one product or service is key. A 7 Day Site will get you a blazing fast website that sells so you can get going!"
  socialImage="https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/seo/nerds-7-day-site-social-1200x630_DVZMRSWWD.jpg?ik-sdk-version=javascript-1.4.3"
>
  <div class="view-container">
    <Header />
    <LeadSection />
    <IsForYouSection />
    <HowToUseSection />
    <WhatYouGetSection />
    <HideNerdyStuffSection />
    <SevenDaySiteForm />
  </div>
  <Footer />
</BaseLayout>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  .view-container {
    @include baseColGrid;
    gap: 120px;
    justify-items: center;
    width: 100%;
    overflow: hidden;

    @include aboveMobile {
      gap: 160px;
    }

    @include aboveIpadPro {
      gap: 200px;
    }
  }
</style>
