<div class="location">
  <span class="slash"></span>
  <p>
    <slot />
  </p>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";

  .location {
    position: relative;
    padding: 4px 22px;
    background-color: hsla(218, 32%, 10%, 0.4);
    border: 2px solid var(--background-color-dark);
    border-radius: 8px;
  }

  p {
    font-size: 1.4rem;
    font-weight: 600;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include aboveMobile {
      width: 100%;
      white-space: unset;
      overflow: visible;
      text-overflow: unset;
    }
  }

  .slash {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    background-color: var(--accent-teal);
    border-radius: 60px;
    width: 3px;
    height: 60%;
    transform: translate(-16px, -50%) rotate(-30deg);
  }
</style>
