---
import ContentSection from "./ContentSection.astro";
import CardsSection from "./CardsSection.astro";
---

<div class="container">
  <ContentSection />
  <CardsSection />
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";

  .container {
    padding: 80px 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    justify-items: center;
    gap: 80px;
    width: 100%;
    max-width: 1200px;

    @include aboveTablet {
      padding: 120px 12px;
    }

    @include aboveIpadPro {
      padding: 120px 0;
    }
  }
</style>
