---
import TerminalHeader from "../../../components/typography/TerminalHeader.astro";
import CardsContainer from "./CardsContainer.astro";
import MiddleLeftAccent from "../../../components/accents/MiddleLeftAccent.astro";
import { Galaxy } from "../../../components/solid/galaxies/Galaxy";
---

<div class="container">
  <div class="content-container">
    <div class="header">
      <TerminalHeader cursor={true}>
        <h3 class="headline"><span>~</span> Services</h3>
      </TerminalHeader>
    </div>
    <CardsContainer />
  </div>
  <div class="top-galaxy">
    <Galaxy
      client:idle
      color="dark-purple"
      width={240}
      height={240}
      blur={160}
    />
  </div>
  <MiddleLeftAccent backgroundType="body" />
  <div class="bottom-galaxy">
    <Galaxy client:idle color="purple" width={240} height={240} blur={160} />
  </div>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    isolation: isolate;
  }

  .content-container {
    padding: 80px 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 90px;
    justify-items: start;
    width: 100%;
    max-width: 1000px;
    isolation: isolate;

    @include aboveMobile {
      padding: 80px 26px 120px 26px;
    }

    @include aboveTablet {
      padding: 120px 36px 120px 36px;
    }

    @include aboveIpadPro {
      padding: 120px 0 120px 0;
    }
  }

  .header {
    width: 100%;
    max-width: 600px;

    & span {
      color: var(--accent-teal);
    }
  }

  .headline {
    text-transform: uppercase;
    @media (min-width: 600px) {
      font-size: 6rem;
    }
  }

  .top-galaxy {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(20px, -60px);
    z-index: -1;

    @include aboveMobile {
      transform: translate(20px, -20px);
    }

    @include aboveIpadPro {
      transform: translate(20px, -80px);
    }
  }

  .bottom-galaxy {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(80px, 80px);
    z-index: -1;

    @include aboveTablet {
      transform: translate(180px, 120px);
    }
  }
</style>
