.input_field_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: rgb(17, 17, 17);
  box-shadow: var(--input-field-container-box-shadow, "none");
}

.field_container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  align-items: center;
  background-color: var(
    --field-container-background-color,
    var(--background-color-dark)
  );
  width: 100%;
  isolation: isolate;
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

.field_container_active {
  composes: field_container;
  transform: translate(-8px, -8px);
}

.input_label {
  position: absolute;
  top: 32px;
  left: 32px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--font-color-light);
  pointer-events: none;
  transform: translate(0, -50%);
  transition: transform, font-size, font-weight, color, 300ms ease-in-out;
}

.input_label_active {
  composes: input_label;
  font-size: 1.1rem;
  font-weight: 500;
  color: #6a7e9d;
  transform: translate(0, -210%);
}

.input_container {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr min-content;
  align-items: start;
  gap: 12px;
  width: 100%;
}

.the_input {
  margin: 0;
  padding: 8px 20px;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--form-input-text, var(--font-color-light));
  background-color: var(--form-input-background);
  border: none;
  width: 100%;
  resize: none;
  outline: none;
  caret-color: var(--form-caret, var(--accent-purple));
  transition: color, background-color, border-color, 300ms ease-in-out;
}

.the_input::placeholder {
  font-size: 1.6rem;
  color: var(--form-placeholder, hsla(0, 0%, 0%, 0));
}

.input_status {
  width: 20px;
  height: 20px;
}

.status_indicator {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #ce99ff;
  width: 100%;
  height: 6px;
  transform: translate(-100%, 0);
  transition: background-color, transform, 400ms ease-in-out;
}

.status_indicator_active {
  composes: status_indicator;
  transform: translate(0, 0);
  transition: background-color, transform, 400ms ease-in-out;
}

.status_indicator_error {
  composes: status_indicator;
  background-color: #d31313;
  transform: translate(0, 0);
}
