.drawer_click_layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: var(--drawer-display);
  justify-content: flex-end;
  transform: translateX(106%);
}

.drawer_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 0%, 0.9);
  backdrop-filter: blur(4px);
  width: 90px;
  transform: translateX(106%);
  z-index: 10;
}
