---
const paragraphs = [
  "Over 80% of website traffic starts on people's phone. Your website better look good and load FAST.",
  "Especially when the network connection is spotty.",
  "And it better sell on a small screen where space is severely limited.",
]
---

<div>
  {paragraphs.map(paragraph => <p>{paragraph}</p>)}
</div>

<style lang="scss">
  div {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    justify-items: start;
    width: 100%;
  }

  p {

  }
</style>
