---
const numberImage = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/cube-1_LSQscY7D3.png?ik-sdk-version=javascript-1.4.3";
---

<div class="container">
  <img class="step-number" src={numberImage} alt="Number 1 important website criteria." title="Site Speed On Phones">
  <h1>
    <span class="headline-group">
      <span>Built For</span>
      <span>Speed & Sales</span>
    </span>
    <span>On Phones</span>
  </h1>
</div>


<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    @include baseColGrid;
    gap: 20px;
    width: 100%;

    @include aboveMobile {
      grid-template-columns: min-content 1fr;
      column-gap: 12px;
      width: 660px;
    }

    @include aboveTablet{
      width: 880px;
    }
  }

  .step-number {
    width: 80px;
    transform: translate(40px, 0);

    @include aboveIphone11 {
      transform: translate(60px, 0);
    }

    @include aboveMobile {
      width: 100px;
      transform: translate(0, -20px);
    }
  }

  h1 {
    @include baseColGrid;
    gap: 6px;
    justify-items: end;
    width: 100%;
  }

  .headline-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: fit-content;

    @include aboveMobile {
      flex-direction: row;
      gap: 12px;
    }
  }

  span {
    font-size: 4rem;
    font-weight: 700;
    color: var(--font-color-light);

    @include aboveTablet {
      font-size: 6rem;
    }
  }
</style>