---
import SectionContent from "./SectionContent.astro";
import Images from "./Images.astro";
import DisclaimerSection from "./DisclaimerSection.astro";
---

<div class="container">
  <SectionContent />
  <Images />
  <DisclaimerSection />
</div>

<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 40px;
    justify-items: center;
    width: 100%;

    @media (min-width: 600px) {
      gap: 120px;
    }
  }
</style>