@import "./sizes.scss";

.h2-container {
  padding: 120px 0 40px 0;
}

h2 {
  position: relative;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  align-items: start;
  gap: 4px;
  font-size: 3.6rem;
  text-shadow: -8px 6px 2px hsla(0, 0%, 0%, 0.2);
  background-color: #253041;
  border-radius: 12px;
  width: 100%;
  isolation: isolate;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "h2";
    color: var(--background-color);
    font-size: 6rem;
    text-shadow: -6px 4px 2px hsla(0, 0%, 0%, 0.2);
    transform: translate(120px, 4px);

    @include aboveMobile {
      font-size: 7rem;
      transform: translate(140px, 4px);
    }

    @include aboveTablet {
      display: none;
      font-size: 8rem;
      transform: translate(180px, 4px);
    }
  }

  @include aboveMobile {
    font-size: 4.4rem;
    text-shadow: -10px 8px 2px hsla(0, 0%, 0%, 0.2);
  }

  @include aboveTablet {
    padding: 0 0 0 36px;
    font-size: 6rem;
    text-shadow: -12px 10px 2px hsla(0, 0%, 0%, 0.2);
    background-color: var(--background-color);
  }

  @include aboveIpadPro {
    padding: 0;
  }

  .hash-container {
    display: flex;
    justify-content: center;

    @include aboveTablet {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(-120px, 0px);
    }

    @include aboveIpadPro {
      transform: translate(-160px, 0px);
    }
  }

  .hash {
    width: 50px;

    @include aboveMobile {
      width: 60px;
    }

    @include aboveTablet {
      width: 76px;
    }
  }

  .right-hash {
    transform: translateX(-14px);
  }
}

h3 {
  display: grid;
  grid-template-columns: 100px 1fr;
  justify-items: start;
  align-items: start;
  font-size: 3rem;
  text-shadow: -8px 6px 2px hsla(0, 0%, 0%, 0.2);
  width: 100%;

  @include aboveMobile {
    grid-template-columns: 130px 1fr;
    font-size: 3.8rem;
    text-shadow: -10px 8px 2px hsla(0, 0%, 0%, 0.2);
  }

  @include aboveTablet {
    grid-template-columns: 160px 1fr;
    font-size: 4.4rem;
    text-shadow: -12px 10px 2px hsla(0, 0%, 0%, 0.2);
  }

  .hash-container {
    display: flex;
    justify-content: center;
  }

  .hash {
    width: 40px;

    @include aboveMobile {
      width: 46px;
    }

    @include aboveTablet {
      width: 56px;
    }
  }

  .right-hash-one {
    transform: translateX(-14px);
  }

  .right-hash-two {
    transform: translateX(-28px);
  }
}

h4 {
  display: grid;
  grid-template-columns: 90px 1fr;
  justify-items: start;
  align-items: start;
  font-size: 2.8rem;
  text-shadow: -8px 6px 2px hsla(0, 0%, 0%, 0.2);
  width: 100%;

  @include aboveMobile {
    grid-template-columns: 140px 1fr;
    font-size: 3.6rem;
    text-shadow: -10px 8px 2px hsla(0, 0%, 0%, 0.2);
  }

  @include aboveTablet {
    grid-template-columns: 180px 1fr;
    font-size: 4rem;
    text-shadow: -12px 10px 2px hsla(0, 0%, 0%, 0.2);
  }

  .hash-container {
    display: flex;
    justify-content: center;
  }

  .hash {
    width: 30px;

    @include aboveMobile {
      width: 40px;
    }

    @include aboveTablet {
      width: 50px;
    }
  }

  .right-hash-one {
    transform: translateX(-12px);
  }

  .right-hash-two {
    transform: translateX(-24px);
  }

  .right-hash-three {
    transform: translateX(-36px);
  }
}

.link-container {
  padding: 0 8px 0 0;
  display: inline-flex;
  gap: 8px;
  width: fit-content;

  a {
    font-size: 2.1rem;

    @include aboveMobile {
      font-size: 2.4rem;
    }
  }

  .icon {
    width: 20px;
    transform: translateY(4px);
  }
}

.paragraph {
  padding-bottom: 30px;
  font-size: 2.1rem;
  letter-spacing: 0.08rem;
  word-spacing: 0.6rem;

  &:last-child {
    padding-bottom: 0;
  }

  @include aboveMobile {
    font-size: 2.4rem;
  }
}

strong {
  color: #7f6aff;
  text-shadow: 1px 2px 6px hsla(0, 0%, 0%, 0.4);
}

ul {
  padding: 20px 0 40px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 26px;

  @include aboveIphone11 {
    gap: 36px;
  }

  @include aboveMobile {
    padding: 40px 0 60px 60px;
  }
}

.base-bullet {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
  justify-items: start;
  align-items: start;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--font-color-light);
  letter-spacing: 0.08rem;
  word-spacing: 0.6rem;
  width: 100%;

  @include aboveMobile {
    font-size: 2.4rem;
  }

  img {
    width: 40px;
    transform: translateY(-2px);
  }
}

.important-bullet {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 12px;
  justify-items: start;
  align-items: start;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.6;
  color: var(--font-color-light);
  width: 100%;

  @include aboveMobile {
    font-size: 2.4rem;
  }

  .block {
    width: 50px;
    transform: translateY(-6px);
  }
}

.post-image-container {
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  aspect-ratio: 16 / 9;

  .post-image {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
    transition: box-shadow, transform, 300ms ease-in-out;

    &:hover {
      box-shadow: 2px 4px 8px 1px hsla(0, 0%, 0%, 0.4);
      transform: translate(-8px, -8px);
    }
  }

  .post-image-background {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: var(--footer-background);
    border-radius: 30px;
    width: 100%;
    height: 100%;
  }
}

.strong-text {
  color: #f74dff;
}

.nerd-callout-container {
  width: 500px;
}

// ************************** Nerd Callout Card ************************** //

.nerd-callout-spacer {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: start;
  padding: 80px 0;
}

.nerd-callout-container {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  padding-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
  isolation: isolate;

  @include aboveMobile {
    width: 600px;
  }

  @include aboveTablet {
    width: 700px;
  }
}

.nerd-callout-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 160px;
  transform: translate(-20px, 0);
  z-index: 1;

  @include aboveMobile {
    width: 180px;
  }

  @include aboveTablet {
    transform: translate(-20px, -20px);
  }
}

.nerd-callout-card-container {
  position: relative;
  padding: 140px 12px 40px 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  gap: 20px;
  background-color: var(--footer-background);
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 0 0 6px hsla(0, 0%, 05, 0.4);
  isolation: isolate;
  overflow: hidden;

  @include aboveTablet {
    padding: 40px 20px 40px 180px;
  }

  .callout {
    position: absolute;
    top: 0;
    left: 0;
    padding-right: 6px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 0;
    justify-items: end;
    width: 100%;
    z-index: -1;

    @include aboveTablet {
      width: max-content;
      transform: translate(-50px, 160px) rotate(-90deg);
    }
  }

  .callout-nerd {
    font-size: 7rem;
    color: #141526;
    text-transform: uppercase;
    line-height: 1;
  }

  .callout-word {
    font-size: 6rem;
    font-weight: 800;
    color: #141526;
    text-transform: uppercase;
    line-height: 1;
  }
}

.callout-headline {
  display: block;
  font-size: 3rem;
  color: var(--nerd-callout-headline);

  @include aboveMobile {
    font-size: 3.6rem;
  }

  @include aboveTablet {
    font-size: 4rem;
  }
}

.nerd-callout-galaxy {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  background-color: #3d00bd;
  border-radius: 50%;
  width: 220px;
  height: 220px;
  filter: blur(160px);
  z-index: -1;

  @media (min-width: 960px) {
    width: 300px;
    height: 300px;
    filter: blur(260px);
  }
}
