---
interface Props {
  small?: boolean
}

const { small } = Astro.props

const checkImage = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/radio-focus_UiuHs8It6.png?ik-sdk-version=javascript-1.4.3"

const aboveMobileSize = {
  "--above-mobile-font-size": small ? "2.1rem" : "2.6rem",
}
---

<li style={aboveMobileSize}>
  <img src={checkImage} alt="Bullet point" title="Important Bullet Point">
  <slot />
</li>

<style lang="scss">
  li {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 12px;
    justify-items: start;
    align-items: start;
    font-size: 2.1rem;
    font-weight: 700;
    line-height: 1.6;
    color: var(--font-color-light);
    width: 100%;

    @media (min-width: 960px) {
      font-size: var(--above-mobile-font-size);
    }
  }

  img {
    width: 40px;
  }
</style>