<div>
  <p>
    <span class="code-callout">A website has one job... make money.</span>
  </p>
  <p>The design will be <strong>simple, clean and crisp</strong>.</p>
  <p>
    The copy will be <strong>persuasive, tight, and tease</strong> at what makes your perfect customer want to take action.
  </p>
  <p>
    We'll <strong>increase the odds as high as possible</strong> so your website becomes a lead machine… a referral portal… daily sales driver.
  </p>
</div>

<style lang="scss">
  div {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    justify-items: start;
    width: 100%;

    @media (min-width: 600px) {
      padding: 0;
      width: 660px;
    }

    @media (min-width: 960px) {
      width: 800px;
    }
  }
</style>