---
import BackgroundImage from './BackgroundImage.astro'
import CallToAction from './CallToAction.astro';
---
<div class="container">
  <h1>Get More</h1>
  <CallToAction />
  <BackgroundImage />
</div>

<style>
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    background-color: #161E2D;
    width: 100%;
    overflow: hidden;
  }

  h1 {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    font-size: 5rem;
    color: var(--font-color-light);
    text-transform: uppercase;
    width: fit-content;
    transform: translate(20px, 120px);
    z-index: 1;
  }
</style>