---
import { Content } from '../../data/about/section5.mdx'
---

<div class="about-container">
  <Content />
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  .about-container {
    padding: 0 12px;
    width: 100%;
  }
</style>