---
import { HeaderNavLinks } from '../solid/HeaderNavLinks'
---

<div>
  <HeaderNavLinks />
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
</style>