---
const logo = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/nerds-logo_88Uda-NMY.png?ik-sdk-version=javascript-1.4.3"
---

<div>
  <img src={logo} alt="Nerds Who Sell Logo" title="Nerds Who Sell">
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";

  div {
    width: 110px;
  }

  img {
    width: 100%;
  }
</style>