---
import BaseLayout from "../layouts/Layout.astro";
import SmallHeader from "../sections/headers/SmallHeader.astro";
import Footer from "../sections/Footer/index.astro";
import { ContactForm } from "../components/solid/forms/ContactForm";
---

<BaseLayout
  title="Contact a Nerd Who Sells"
  description="Contact Nerds Who Sell if you have any questions."
  socialTitle="Contact Nerds Who Sell"
  socialDescription="Contact Nerds Who Sell if you have any questions."
  socialImage="https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/seo/nerds-home-social-1200x630_641tIoM8v.jpg?ik-sdk-version=javascript-1.4.3"
>
  <div class="view-container">
    <SmallHeader
      headline="Contact Us"
      imageUrl="https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/contact-header_-JOMeWEFJ.png?ik-sdk-version=javascript-1.4.3"
      altTag="Contact a Nerd"
      titleTag="Contact a Nerd"
    />
    <ContactForm client:load />
    <Footer />
  </div>
</BaseLayout>

<style lang="scss">
  @import "../styles/sizes.scss";

  .view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
</style>
