---
import BaseLayout from '../layouts/Layout.astro'
import Footer from '../sections/Footer/index.astro'

// Short who we are and who we serve

// Blog sections

// Footer

---
<BaseLayout title="Page title">
	<h1>Blog Listing</h1>
	<Footer />
</BaseLayout>
