---
import BaseLayout from '../layouts/Layout.astro'
import Header from '../sections/home/Header/index.astro'

import PerspectiveGradient from '../components/typography/PerspectiveGradient.astro';
import TerminalHeader from '../components/typography/TerminalHeader.astro';
import Month from '../components/calendar/NormalMonth.astro'
---
<BaseLayout title="Page title">
	<div style="padding: 80px 12px; width: 400px;">
		<Month />
	</div>
</BaseLayout>

