---
import BaseLayout from '../layouts/Layout.astro'
import { LeadForm } from '../components/solid/forms/LeadForm'
---

<BaseLayout title="Test">
  <div class="container">
    <div class="form">
      <LeadForm client:visible />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  .form {
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
</style>