---
import BaseLayout from '../layouts/Layout.astro'
import Header from '../sections/webDev/Header/index.astro'
import NotABusinessCard from '../sections/webDev/NotABusinessCard/index.astro';
import SpeedForPhones from '../sections/webDev/SpeedForPhones/index.astro'
import EffortlessToUpdate from '../sections/webDev/EffortlessToUpdate/index.astro'
import SellSection from '../sections/webDev/SellSection/index.astro'
---

<BaseLayout title="Charleston Web Design and Developement">
  <div class="view-container">
    <Header />
    <NotABusinessCard />
    <SpeedForPhones />
    <EffortlessToUpdate />
    <SellSection />
  </div>
</BaseLayout>