.screen_cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
  z-index: 1000;
}

.status_chip {
  padding: 12px;
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-items: start;
  align-items: center;
  gap: 14px;
  background-color: hsla(0, 0%, 0%, 0.6);
  border-radius: 16px;
  width: 351px;
  box-shadow: 0 0 0 6px hsla(0, 0%, 0%, 0.8);
  opacity: 0;
  transform: translateY(60px);
}

.content_container {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 8px;
  align-items: center;
  width: fit-content;
}

.icon {
  width: 40px;
}

.paragraph {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--font-color-light);
}

.reload_button {
  padding: 4px 10px;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 800;
  color: var(--background-color-dark);
  background-color: var(--accent-teal);
  border-radius: 12px;
  border: none;
  width: max-content;
  height: 40px;
  cursor: pointer;
}

.close_icon_button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
