.form_button_container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  background-color: rgb(17, 17, 17);
  width: 100%;
  max-width: 400px;
  height: 72px;
}

.form_button {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: var(--font-color-dark);
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform, background-color, 300ms ease-in-out;
  z-index: 1;
}

.form_button:focus {
  componses: form_button;
  outline: 3px solid var(--accent-teal);
  outline-offset: 5px;
  transform: translate(-8px, -8px);
}

.form_button_teal {
  composes: form_button;
  background-color: var(--accent-teal);
}

.form_button_purple {
  composes: form_button;
  background-color: var(--accent-purple);
}

.form_button_pink {
  composes: form_button;
  background-color: var(--accent-pink);
}

.form_button_active {
  transform: translate(-8px, -8px);
}

.form_button_disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.button_icon {
  width: 40px;
}
