---
import TerminalHeader from "../typography/TerminalHeader.astro";
---

<div class="container">
  <div class="top-spacer"></div>
  <TerminalHeader cursor={false}>
    <h3 class="headline"><span>~</span> <slot /></h3>
  </TerminalHeader>
  <div class="bottom-spacer"></div>
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";

  .headline {
    color: var(--font-color-light);

    span {
      color: var(--accent-teal);
    }

    @include aboveMobile {
      font-size: 4rem;
    }

    @include aboveTablet {
      font-size: 5.4rem;
    }
  }

  .top-spacer {
    width: 100%;
    height: 20px;

    @include aboveTablet {
      height: 40px;
    }
  }

  .bottom-spacer {
    width: 100%;
    height: 40px;

    @include aboveTablet {
      height: 60px;
    }
  }
</style>
