---
import NotABusinessCard from "./NotABusinessCard.astro";
import YourSalesTool from "./YourSalesTool.astro";
---

<div class="container">
  <div class="galaxy" />
  <NotABusinessCard />
  <YourSalesTool />
</div>

<style lang="scss">
  .container {
    padding: 80px 0 0 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    isolation: isolate;
    overflow: hidden;
    z-index: -1;
  }

  .galaxy {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #3D00BD;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    filter: blur(160px);
    z-index: -1;
  }
</style>
