---
import BestSalesToolHeadline from "./BestSalesToolHeadline.astro";
import InternalNavButton from "../../../components/buttons/InternalNavButton.astro";

const mobileImageUrl = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/mobile-home-header-600x1300_dhkklq6ce.png?ik-sdk-version=javascript-1.4.3"
---

<div class="container">
  <div class="content-container">
    <BestSalesToolHeadline />
    <p>Hide The Nerdy Tech Stuff and Give You What You Want...</p>
  </div>
  <picture>
    <!-- <source srcset={mobileImageUrl} media="(min-width: 600px)"> -->
    <img src={mobileImageUrl} alt="Graph boxes for more traffic leads and sales" title="More Traffic Leads And Sales">
  </picture>
  <InternalNavButton type="teal" title="Schedule a Nerd Chat" slug="/" width={290}>Schedule a Nerd Chat</InternalNavButton>
</div>

<style lang="scss">
  .container {
    padding: 80px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    width: 100%;
  }

  .content-container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 40px;
    justify-items: start;
  }

  p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--font-color-light);
  }

  picture {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    transform: translate(0, 120px);

    @media (min-width: 600px) {
      transform: translate(-240px, 100px);
    }

    @media (min-width: 960px) {
      transform: translate(-190px, 120px);
    }

    @media (min-width: 1100px) {
      align-self: end;
      width: 900px;
      transform: translate(0px, 120px);
    }

    @media (min-width: 1450px) {
      transform: translate(0px, 100px);
    }
  }

  img {
    width: 100%;
  }
</style>