---
import BaseLayout from '../../layouts/Layout.astro'
import SmallHeader from '../../sections/headers/SmallHeader.astro'
import Footer from '../../sections/Footer/index.astro'
import CardSection from '../../sections/now/CardSection.astro'
import type { BlogPostFrontmatter, BlogCardData } from '../../types/blog'

const data = await Astro.glob("../../data/now/*.mdx")

const nowCardsData: BlogCardData[] = data.map(card => {
  const { featureImageUrl, altTag, titleTag, cardTeaser, buttonLabel, tags, category, slug } = card.frontmatter as BlogPostFrontmatter

  return {
    imageUrl: featureImageUrl,
    altTag: altTag,
    titleTag: titleTag,
    cardTeaser: cardTeaser,
    buttonLabel: buttonLabel,
    tags: tags,
    category: category,
    slug: slug,
  }
})


---

<BaseLayout title="Now">
  <SmallHeader headline="Now" />
  <CardSection nowCardsData={nowCardsData} />
  <h1>Some future newsletter signup</h1>
  <Footer />
</BaseLayout>
