---
import BaseLayout from '../../layouts/Layout.astro'
import BlogCard from '../../components/cards/BlogCard/index.astro'
import type { BlogPostFrontmatter } from '../../types/blog'

const data = await Astro.glob("../../data/now/*.mdx")

const nowCardsData = data.map(card => {
  const { featureImageUrl, altTag, titleTag, cardTeaser, buttonLabel, slug } = card.frontmatter as BlogPostFrontmatter

  return {
    imageUrl: featureImageUrl,
    altTag: altTag,
    titleTag: altTag,
    cardTeaser: cardTeaser,
    buttonLabel: buttonLabel,
    slug: slug,
  }
})

---

<BaseLayout title="Now">
  <div class="container">
    <BlogCard />
  </div>
</BaseLayout>

<style lang="scss">
  @import "../../styles/layout.scss";

  .container {
    padding: 200px 20px;
    @include baseColGrid;
    align-items: center;
    gap: 60px;
    width: 100vw;
    height: 100vh;
  }
</style>