---
import { sanity } from '../../pages/blog/marketing/index.astro'
import imageUrlBuilder from '@sanity/image-url'

interface Props {
  imageUrl: string
  altTag: string
  titleTag: string
}

const { imageUrl, altTag, titleTag } = Astro.props

const builder = imageUrlBuilder(sanity)

function urlFor(source: string) {
  return builder.image(source)
}

const imageSrc = urlFor(imageUrl).width(800).auto("format").url()
---

<div class="post-image-container">
  <img class="post-image" src={imageSrc} alt={altTag} title={titleTag}>
  <div class="background" />
</div>

<style lang="scss">
  @import "../../styles/sizes.scss";

  .post-image-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
  }

  .post-image {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    z-index: 1;
    transition: box-shadow, transform, 300ms ease-in-out;

    &:hover {
      box-shadow: 2px 4px 8px 1px hsla(0, 0%, 0%, 0.4);
      transform: translate(-8px, -8px);
    }
  }

  .background {
    position: absolute;
    background-color: var(--footer-background);
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 16 / 9;
  }
</style>