.container {
  position: relative;
  padding: 6px;
  padding-top: 100%;
  background-color: var(--day-background);
  border-radius: var(--day-border-radius, 10px);
  border: none;
  width: 100%;
  opacity: var(--day-opacity, 1);
  box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.4), 0 0 0 2px var(--dark-3),
    var(--day-shadow);
  filter: var(--day-blur);
  transform: var(--day-transform, none);
  transition: box-shadow, background-color, 300ms ease-in-out;
  z-index: var(--day-zindex, unset);
}

.container:hover {
  box-shadow: 0 4px 2px 0px rgba(0, 0, 0, 0.4), 0 0 0 2px var(--dark-3),
    var(--day-shadow);
}

.label {
  position: absolute;
  top: 4px;
  left: 16px;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--label-color, hsla(216, 27%, 13%));
  text-shadow: -8px 3px 2px hsla(0, 0%, 0%, 0.2);
}

@media (min-width: 600px) {
  .container {
    border-radius: 14px;
  }
}
