---
const paragraphs: string[] = [
  "The decisions you make during step 1 will be with you for years to come. <strong>Let's not mess this up</strong>.",
  "Plus a good website is expensive... maybe <strong>out of your budget</strong> right now.",
];
---

<div class="container">
  <div class="galaxy top-galaxy"></div>
  <div class="grabber-container">
    <div class="solo-grabber">
      <p>Building a website...</p>
      <p class="code-callout code-callout-large">is no small decision.</p>
    </div>
    <div class="solo-grabber">
      <p>Small or large...</p>
      <p class="code-callout code-callout-large">business is done online.</p>
    </div>
  </div>
  <div class="paragraphs">
    {paragraphs.map((paragraph) => <p set:html={paragraph} />)}
  </div>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    position: relative;
    padding: 0 12px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 120px;
    justify-items: center;
    isolation: isolate;
    z-index: -1;

    @include aboveMobile {
      width: 660px;
    }

    @include aboveTablet {
      width: 800px;
    }
  }

  .grabber-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 60px;
    justify-items: start;
    width: fit-content;

    @include aboveMobile {
      gap: 100px;
      width: 400px;
    }

    @include aboveTablet {
      width: 600px;
    }
  }

  .solo-grabber {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 12px;
    justify-items: start;

    p {
      font-size: 2.6rem;
    }

    @include aboveTablet {
      p {
        font-size: 3.2rem;
      }
    }
  }

  .paragraphs {
    @include baseColGrid;
    gap: 30px;
    width: 100%;
  }

  .galaxy {
    background-color: #3d00bd;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    filter: blur(160px);
    z-index: -1;

    @include aboveTablet {
      width: 400px;
      height: 400px;
      filter: blur(260px);
    }
  }

  .top-galaxy {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(100px, -200px);

    @include aboveTablet {
      transform: translate(220px, -300px);
    }

    @include aboveIpadPro {
      transform: translate(220px, -400px);
    }
  }
</style>
