---
import BaseLayout from "../../layouts/Layout.astro";
import SmallHeader from "../../sections/headers/SmallHeader.astro";
import Instructions from "../../sections/nerdChat/WebDevPreNerdChat/Instructions.astro";
import { PreNerdChatForm } from "../../components/solid/forms/PreNerdChatForm";
import Footer from "../../sections/Footer/index.astro";
---

<BaseLayout
  title="Get Setup For Your Nerd Chat"
  description=""
  socialTitle=""
  socialDescription=""
  socialImage="https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/seo/nerd-chat-social-1200x630_L8BdfNJJG.jpg?ik-sdk-version=javascript-1.4.3"
>
  <SmallHeader
    headline="Pre Nerd Chat"
    imageUrl="https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/nerd-chat-header_xyoRD8_Q6.png?ik-sdk-version=javascript-1.4.3"
    altTag="Nerd chat bubbles"
    titleTag="Nerd Chat"
  />
  <div class="view-container">
    <Instructions />
    <PreNerdChatForm client:load />
  </div>
  <Footer />
</BaseLayout>

<style lang="scss">
  @import "../../styles/sizes.scss";
  @import "../../styles/layout.scss";

  .view-container {
    @include baseColGrid;
    gap: 120px;
    justify-items: center;
    width: 100%;
  }
</style>
