---
import BaseLayout from '../../layouts/Layout.astro'
import SmallHeader from '../../sections/headers/SmallHeader.astro';
import { PreNerdChatForm } from '../../components/solid/forms/PreNerdChatForm'
import Footer from '../../sections/Footer/index.astro'
---

<BaseLayout title="Get Setup For Your Nerd Chat">
  <SmallHeader headline="Pre Nerd Chat" />
  <div class="container">
    <PreNerdChatForm client:load />
  </div>
  <Footer />
</BaseLayout>

<style lang="scss">

  .container {
    padding: 80px 12px;
    width: 100%;
  }
</style>