---
import ContentContainer from "./ContentContainer.astro";
import { LeadForm } from "../../../components/solid/forms/LeadForm";

const chatImage = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/nerd-chat-bubbles_QwS4ErsbU.png?ik-sdk-version=javascript-1.4.3"
---

<div class="container">
  <img class="chat-image" src={chatImage} alt="Book a FREE Nerd Chat" title="Button a Free Nerd Chat">
  <div class="content-container">
    <ContentContainer />
    <LeadForm client:visible />
  </div>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    position: relative;
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-dark);
    width: 100%;

    @include aboveMobile {
      padding-top: 240px;
    }

    @include aboveTablet {
      padding-top: 280px;
    }
  }

  .content-container {
    padding: 0 12px 80px 12px;
    @include baseColGrid;
    gap: 60px;
    justify-items: center;
    width: 100%;

    @include aboveMobile {
      padding: 0 12px 120px 12px;
    }
   }

  .chat-image {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 320px;
    transform: translate(-50%, 0);

    @media (min-width: 600px) {
      width: 400px;
    }

    @media (min-width: 960px) {
      width: 480px;
    }
  }
</style>