---
import PunctuationBullet from "../../../components/typography/PunctuationBullet.astro";

const bullets = [
  "Do you want to write blog posts and get <strong>FREE SEO traffic</strong>?",
  "Do you need to create events or <strong>add new products</strong> every week?",
  "We can make your website easy to update and <strong>manage yourself</strong>.",
];
---

<div class="container">
  <ul class="list">
    {
      bullets.map((bullet) => (
        <PunctuationBullet type="question" bullet={bullet} />
      ))
    }
  </ul>
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    order: 1;
    padding: 0 12px;
    @include baseColGrid;
    gap: 80px;
    justify-items: start;
    width: 100%;

    @include aboveMobile {
      width: 660px;
    }

    @include aboveTablet {
      order: 0;
      width: auto;
    }
  }

  .list {
    @include baseColGrid;
    gap: 80px;
    width: 100%;
  }
</style>
