---
const numberImage = "https://ik.imagekit.io/csu76xuqqlwj/nerds-who-sell/site-assets/cube-2_E_iAkTQsz.png?ik-sdk-version=javascript-1.4.3"
---

<div class="container">
  <img src={numberImage} alt="Number 2 important website criteria." title="Easy To Update and Manage">
  <h1>
    <span class="headline-group">
      <span>Effortless To</span>
      <span>Upate And</span>
    </span>
    <span>Take Care Of</span>
  </h1>
</div>


<style lang="scss">
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 20px;
    width: 100%;
    
    @media (min-width: 600px) {
      grid-template-columns: min-content 1fr;
      column-gap: 12px;
      width: 660px;
    }

    @media (min-width: 960px) {
      width: 880px;
    }
  }

  img {
    width: 80px;
    transform: translate(80px, 0);

    @media (min-width: 392px) {
      transform: translate(100px, 0);
    }

    @media (min-width: 600px) {
      width: 100px;
      transform: translate(0, -20px);
    }
  }

  h1 {
    padding: 0 12px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 6px;
    justify-items: end;
    width: 100%;
  }

  .headline-group {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 6px;
    width: fit-content;

    @media (min-width: 600px) {
      flex-direction: row;
      gap: 12px;
    }
  }

  span {
    font-size: 4rem;
    font-weight: 700;
    color: var(--font-color-light);

    @media (min-width: 960px) {
      font-size: 6rem;
    }
  }
</style>