---
import Headline from "./Headline.astro";
import { WebsiteUpdating } from "../../../components/spline/WebsiteUpdating/index"
---

<div class="container">
  <Headline />
  <WebsiteUpdating client:idle />
</div>

<style lang="scss">
  .container {
    padding: 120px 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
    gap: 40px;
    justify-items: center;
    width: 100%;

    @media (min-width: 600px) {
      gap: 120px;
    }
  }
</style>