---
import InternalNavButton from "../../../components/buttons/InternalNavButton.astro";
---

<div class="container">
  <h1 class="headline">
    <span>From</span>
    <span>Your</span>
    <span>Website</span>
  </h1>
  <InternalNavButton
    type="teal"
    slug="/nerd-chat/web-design"
    width={290}
    title="">Schedule Nerd Chat</InternalNavButton
  >
</div>

<style lang="scss">
  @import "../../../styles/sizes.scss";
  @import "../../../styles/layout.scss";

  .container {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    align-self: end;
    @include baseColGrid;
    grid-auto-rows: min-content;
    gap: 20px;
    justify-items: end;
    width: 100%;
    transform: translate(-12px, -50px);
    z-index: 1;

    @include aboveMobile {
      transform: translate(-100px, -60px);
    }

    @include aboveTablet {
      transform: translate(-40px, -100px);
    }

    @include aboveIpadPro {
      transform: translate(-140px, -40px);
    }

    @include aboveLaptop {
      transform: translate(-150px, -40px);
    }
  }

  .headline {
    display: flex;
    flex-direction: column;
    text-align: right;
    line-height: 1.2;

    span {
      font-size: 4rem;
      color: #f8f8f8;
      text-transform: uppercase;

      @include aboveIphone11 {
        font-size: 4.4rem;
      }

      @include aboveTablet {
        font-size: 5.4rem;
      }
    }
  }
</style>
